<!DOCTYPE html>
<html>
  <head>
    <title>Roomify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/logo.png"/>
    <script src='/js/jquery.js'></script>
     <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
     <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Roomify</h1>
        <a href="/signin">Get Started</a>
        <a href="/signup">Sign In</a>
      </div>
      <br/>

      <div class="jumbotron">
        <h1>Facebook for Roomates.</h1>
      </div>
      <div class="row">
        <div class="col-4">
          <h1 class="heading-text">Looking For a Roommate?</h1>
          <p class="answer-text">
            We can help!
          </p>
        </div>
        <div class="col-4">
          <h1 class="heading-text">Need Help Scheduling Chores?</h1>
          <p class="answer-text">
            We've got you covered!
          </p>
        </div>
        <div class="col-4">
          <h1 class="heading-text">Want to Coordinate Rent Payments?</h1>
          <p class="answer-text">
            We're your people.
          </p>
        </div>
      </div>
      <div class="row" style="margin-top:100px;">
        <div class="col-5">

        </div>
        <div class="col-1">
          <a href="/signup"><button class="btn btn-lg btn-primary">Sign Up</button></a>
        </div>
        <div class="col-1">
          <a href="/signin"><button class="btn btn-lg">Sign In</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
