<!DOCTYPE html>
<html>
  <head>
    <title>Roomify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
     <script src="/js/bootstrap.js"></script>
     <script src='/js/jquery.js'></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Roomify</h1>
        <a href="/signin">Get Started</a>
        <a href="/signup">Sign In</a>
      </div>
      <br/>
      <div class="jumbotron">
        <h1>Roommate Message Board</h1>
      </div>

      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
      <div class="card">
        <div class="card-header">
          ROOMATE_1, ROOMATE_2, ME
              </div>
              <div class="card-body">
                No messages to display.
              </div>
                      </div>
      </div>
        </div>
    </div>
  </body>
</html>
