<!DOCTYPE html>
<html>
  <head>
    <title>Reprehendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
     <script src="/js/bootstrap.js"></script>
     <script src='/js/jquery.js'></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Reprehendo</h1>
        <a href="/">Logout</a>
      </div>
      <br/>
      <div class="jumbotron">
        <h1>View Chores</h1>
      </div>

      <table class="table table-bordered table-dark">
        <tr>
          <th>
            Monday
          </th><th>
            Tuesday
          </th><th>
            Wednesday
          </th><th>
            Thursday
          </th><th>
            Friday
          </th><th>
            Saturday
          </th><th>
            Sunday
          </th>
        </tr>
        <tr>
          <td>
            Srivatsan - Take out garbage
          </td>
          <td>

          </td>
          <td>
            Stu - clean bathroom
          </td>
          <td>
            Daniel - wash the car
          </td>
          <td>
            Martin - shovel the driveway
          </td>
          <td>

          </td>
          <td>
            Srivatsan - Run dishwasher
            <br/>
            Martin - unload dishwasher
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
